<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

  <div class="form-group row">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :trainer, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :trainer_name, list: "trainers_autocomplete", class: "form-control" %>
      <datalist id="trainers_autocomplete">
        <% current_user.trainers.each do |trainer| %>
          <option value="<%= trainer.name %>">
        <% end %>
      </datalist>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :date, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.date_select :date %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :hours, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.number_field :hours, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :location, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_field :location, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :sponsor, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_field :sponsor, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :format, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_field :format, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :cost, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
          <span class="input-group-text">0.00</span>
        </div>
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="Round to the nearest whole dollar amount">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :certification, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cpa">
        <label class="form-check-label" for="defaultCheck1">
          CPA
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cia">
        <label class="form-check-label" for="defaultCheck1">
          CIA
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cfe">
        <label class="form-check-label" for="defaultCheck1">
          CFE
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cisa">
        <label class="form-check-label" for="defaultCheck1">
          CISA
        </label>
      </div>
    </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :category, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    <%= form.text_field :category, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  </div>
<% end %>
